$text-color-l: #444;
$text-color: #333;
$color-red: #c2272c;
$color-red-d: #ab292d;
$color-blue: #004071;
$color-yellow: #fbc566;

$font-size-title-large: 20px;
$font-size-title: 18px;
$font-size-medium: 14px;
$font-size-desc: 12px;

$content-width: 1000px;